*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.clearfix{zoom:1}
.clearfix::after{
    content:".";
    clear:both;
    display: block;
    height:0;
    visibility: hidden;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  body{
    background-color: white;
    color: rgb(2, 2, 2);
    font-family: cursive;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: none;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    background:linear-gradient(rgba(255, 255, 255, 0.219), rgba(255, 255, 255, 0.219)), url("fit2.jpg"); 
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    background-repeat: no-repeat ; 
}
.fitness-first-heading{
        width: 1140px;
        text-align: center;
        margin-top: 20%;
        margin-left: 50px;
        text-shadow: 1px 1px 2px rgba(226, 226, 226, 0.89);
}
h1{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 300%; 
    word-spacing: 2px;
    color:black;
}
.button {
    width: fit-content;
   display: inline-block;
   padding: 10px 20px;
   font-weight: 300;
   text-decoration: none;
    border-radius: 200px;
    background-color: #D79922;
    color:black;   
}
.ghost-button{
    border: 3px solid orangered;
    width: fit-content;
   display: inline-block;
   padding: 10px 20px;
   font-weight: 300;
   text-decoration: none;
    border-radius: 200px;
    color:black; 
}
.button:hover ,.ghost-button:hover{
    background-color:orangered;
    color: black ;
    transition: 0.5s;
}
#active{
    background-color: orangered;
    width: fit-content;
    display: inline-block;
    padding: 10px;
}
.fixed-nav-bar{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        background-color:#D79922;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px; 
}
label{  
    display:none;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a{
    color:black;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
}
.main-nav li a:hover,
.main-nav li a:active{
    background-color:orangered;
    color: black;
    padding: 10px 20px ;
    transition: 0.5s;
}
.main-nav li ul{
    padding: 2px;
    position: absolute;
    display:none;
    visibility: hidden;
    margin-left: -40px;
}
.main-nav li ul li{
    background:rgba(215, 152, 34, 0.74);
    display: flex;   
    flex-direction: column;

}

.main-nav li ul li a{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    }
.main-nav li ul li:hover{
    background-color: orangered;
}
.main-nav li:hover ul{
    display: block;
    opacity: 1;
    visibility: visible;
}
.icon {
    font-size: 32px;
    display: inline;
  }
.fixed-nav-bar logo{
    margin-top: 10px;
    display: inline-block;
    border-radius: 70px;
    margin-left: 20px;
}

h2 {
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    padding: 4px 0;  
}/*h3{
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
    padding: 4px 0;  
    margin-top: -30px;
}*/
.row-1{
    display:grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 1em;
}
.row-1>div{
    background-color: #4056A1;
    padding: 1em;
}
.row-1 > div:nth-child(odd){
 background-color:#D79922;

}
.benefits{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1em;
    grid-gap: 1em;
    grid-auto-rows: minmax(40px ,auto);
}

.benefits> div{
    padding: 1em;
    border:#f13c20 3px solid;
    background-color:  #4056A1;
}
.benefits> div:first-child{
    background-color: #f13c20;
}
.Forms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:1em ;
}
.Forms div{
    padding: 1em;
}
.strong{
    background: linear-gradient(rgba(255, 255, 255, 0.61), rgba(255, 255, 255, 0.616)), url(strong.jpg);    
}
.fitness{
    background:linear-gradient(rgba(255, 255, 255, 0.404), rgba(255, 255, 255, 0.404)), url(fitnesszumba.jpg);
}
.toning{
    background:linear-gradient(rgba(255, 255, 255, 0.404), rgba(255, 255, 255, 0.404)), url(toning.jpg);
}
/************ plans section*****/
.Our-Plans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    padding: 1em;
}
.Our-Plans>div:nth-child(even){
    background-color:#D79922;
}
.Our-Plans>div:nth-child(odd){
    background-color:#4056A1;
}
/************ plans section *****/
/************ footer section *****/
footer{
    background-color: #364F6B;
    padding: 50px;
}
.footer-details{
    display: flex;
    justify-content: space-around;
    
}
.footer-company{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    
}
.footer-company li a {
    text-decoration: none;
    
}
.footer-company li{
        margin-top:5px;
    
    }
.footer-follow{
    display: flex;
    margin-left: -20px;
    margin-top: 20px;
}
.footer-follow li{
    margin: 0 10px;
    font-size: 150%;
}
.footer-company li a:link,
  .footer-company li a:visited,
  .footer-follow li a:link,
  .footer-follow li a:visited{
    text-decoration: none;
    border: 0;
    color: rgb(153, 153, 153);
    transition: color 0.2s;
  }
  .footer-company li a:active,
  .footer-company li a:hover,
  .footer-follow li a:active,
  .footer-follow li a:hover{
      color: rgb(231, 231, 231);
  }
  
  .ion-logo-facebook:hover{ color: #3b5998;}
  .ion-logo-twitter:hover{color: #00aced;}
   .ion-logo-whatsapp:hover{ color:#25D366 ;}
   .ion-logo-instagram:hover{color: #3f729b;}

   /************ footer section*****/
/*.Forms>div:nth-child(odd){
    background-color:#D79922;
}
.Forms>div:nth-child(even){
    background-color: #4056A1; 
}*/

